*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    height: calc(100vh - 64px - 70px);
    background-size: cover;
   display: flex;
  align-items: center;
}

.heade-text{
    font-size: 62px;
    font-weight: 900;
    color: black;
}
.header-list li{
    margin: 30px 30px;
}

.header-list button{
    background-color: black;
    border: none;
    padding: 18px 16px;
    color:white;
    font-weight: 900;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}